@import url('https://fonts.googleapis.com/css?family=Open+Sans:500,500i,700,700i');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}
